.footer {
	background-color: #f7f7f7;
	padding: 15px 0;
	border-top: 1px solid #e7e8ec;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	color: #818c99;
	font-size: 13px;
}

.links {
	display: flex;
}

.link {
	color: #2a5885;
	text-decoration: none;
	margin-left: 20px;
	font-size: 13px;
}

.link:hover {
	text-decoration: underline;
}
